<a href="https://colab.research.google.com/github/vigneshkennady/Pandas-Assignments/blob/main/Chapter_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
populations_2010 = \
pd.read_csv('/content/datasets/US_Census_SUB-IP-EST2019-ANNRNK_top_20_2010.csv',
            index_col = [0],
            squeeze = True)
populations_2010

<ipython-input-2-e23a5363267f>:2: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  pd.read_csv('/content/datasets/US_Census_SUB-IP-EST2019-ANNRNK_top_20_2010.csv',

City
New York                8190209
Los Angeles             3795512
Chicago                 2697477
Houston                 2100280
Phoenix                 1449038
Philadelphia            1528283
San Antonio             1332299
San Diego               1305906
Dallas                  1200350
San Jose                 954940
Austin                   806164
Jacksonville             823114
Fort Worth               748441
Columbus                 790943
Charlotte                738444
San Francisco            805505
Indianapolis             821579
Seattle                  610630
Denver                   603359
District of Columbia     605226
Name: 2010, dtype: int64

In [3]:
top_3_2010 = sum(populations_2010[['New York', 'Los Angeles', 'Chicago']])

In [4]:
populations_2019 = \
pd.read_csv('/content/datasets/US_Census_SUB-IP-EST2019-ANNRNK_top_20_2019.csv',
            index_col = [0],
            squeeze = True)
populations_2019

<ipython-input-4-b59931fad94f>:2: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  pd.read_csv('/content/datasets/US_Census_SUB-IP-EST2019-ANNRNK_top_20_2019.csv',

City
New York                8336817
Los Angeles             3979576
Chicago                 2693976
Houston                 2320268
Phoenix                 1680992
Philadelphia            1584064
San Antonio             1547253
San Diego               1423851
Dallas                  1343573
San Jose                1021795
Austin                   978908
Jacksonville             911507
Fort Worth               909585
Columbus                 898553
Charlotte                885708
San Francisco            881549
Indianapolis             876384
Seattle                  753675
Denver                   727211
District of Columbia     705749
Name: 2019, dtype: int64

In [5]:
top_3_2019 = sum(populations_2019[['New York', 'Los Angeles', 'Chicago']])

In [6]:
top_3_change = 100 * (top_3_2019 - top_3_2010) / top_3_2010
all_change = 100 * sum(populations_2019 - populations_2010) / sum(populations_2010)
#
print('top 3 changed', str(round(top_3_change, 1)), '%\n',
      'vs. all changed', str(round(all_change, 1)), '%')

top 3 changed 2.2 %
 vs. all changed 8.0 %